{<<"app">>,<<"chameleon">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Chameleon is a utility for converting colors from one color model to another.\nConversions can be made to/from RGB, CMYK, Hex, HSL, Pantone, and even Keywords.\n\nFor example:\n  \"FFFFFF\" -> %{c: 0, m: 0, y: 0, k: 0}">>}.
{<<"elixir">>,<<"~> 1.5">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/.DS_Store">>,<<"lib/chameleon">>,<<"lib/chameleon.ex">>,
  <<"lib/chameleon/cmyk.ex">>,<<"lib/chameleon/hex.ex">>,
  <<"lib/chameleon/hsl.ex">>,<<"lib/chameleon/keyword.ex">>,
  <<"lib/chameleon/keyword_to_hex.exs">>,
  <<"lib/chameleon/keyword_to_rgb.exs">>,<<"lib/chameleon/pantone.ex">>,
  <<"lib/chameleon/pantone_to_hex.exs">>,<<"lib/chameleon/rgb.ex">>,
  <<"lib/chameleon/util.ex">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE.md">>]}.
{<<"licenses">>,[<<"GPL 3.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/supersimple/chameleon">>}]}.
{<<"maintainers">>,[<<"Todd Resudek">>]}.
{<<"name">>,<<"chameleon">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.2">>}.
